In [13]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [14]:
url = "https://en.wikipedia.org/wiki/Capital_punishment_by_country"
html = requests.get(url).text

In [15]:
soup = BeautifulSoup(html)

In [4]:
table = soup.select("table")[0]
print(table.text[:100])

Key

Country

Year of last execution

Executions 2019

Year abolished

Notes




 Algeria

1993

In [5]:
header_el = table.select("tr")[0]

In [6]:
columns = []
for cell in header_el.select("th"):
    columns.append(cell.text.strip())

columns

['Key',
 'Country',
 'Year of last execution',
 'Executions 2019',
 'Year abolished',
 'Notes']

In [7]:
columns = [ cell.text.strip() for cell in header_el.select("th")]
columns

['Key',
 'Country',
 'Year of last execution',
 'Executions 2019',
 'Year abolished',
 'Notes']

In [8]:
row_els = table.select("tr")[1:]
len(row_els)

55

In [9]:
rows = []

for row in row_els:
    cells = []
    for cell in row.select("td"):
        cells.append(cell.text.strip())
    rows.append(cells)

rows[:2]

[['',
  'Algeria',
  '1993',
  '',
  'n/a',
  'Main article: Capital punishment in AlgeriaFiring Squad, shooting. Death penalty for treason; espionage; aggravated murder; castration resulting in death; arson (or destruction using explosive devices) of buildings, vehicles or harvests resulting in death; intentional destruction of military equipment resulting in death; attempts to change the regime or actions aimed at incitement; destruction of territory; sabotage to public and economic utilities; massacres and slaughters; participation in armed bands or in insurrectionary movements; counterfeiting; terrorism; acts of torture or cruelty; kidnapping; aggravated theft; some military offences; poisoning; attempting a death-eligible offense; some cases of recidivism and perjury leading to a death sentence pronounced.[40] Currently under a moratorium. On 20 December 2012, Algeria co-sponsored and voted in favour of the Resolution on a Moratorium on the Use of the Death Penalty at the UN General Assembly.[41]'],
 ['',
  'Angola',
  '1977[42]',
  '',
  '1992',
  'Main article: Capital punishment in AngolaAbolished in 1992 by Constitution.']]

In [10]:
rows = [
    [ cell.text.strip() for cell in row.select("td") ]
    for row in row_els ]

rows[:2]

[['',
  'Algeria',
  '1993',
  '',
  'n/a',
  'Main article: Capital punishment in AlgeriaFiring Squad, shooting. Death penalty for treason; espionage; aggravated murder; castration resulting in death; arson (or destruction using explosive devices) of buildings, vehicles or harvests resulting in death; intentional destruction of military equipment resulting in death; attempts to change the regime or actions aimed at incitement; destruction of territory; sabotage to public and economic utilities; massacres and slaughters; participation in armed bands or in insurrectionary movements; counterfeiting; terrorism; acts of torture or cruelty; kidnapping; aggravated theft; some military offences; poisoning; attempting a death-eligible offense; some cases of recidivism and perjury leading to a death sentence pronounced.[40] Currently under a moratorium. On 20 December 2012, Algeria co-sponsored and voted in favour of the Resolution on a Moratorium on the Use of the Death Penalty at the UN General Assembly.[41]'],
 ['',
  'Angola',
  '1977[42]',
  '',
  '1992',
  'Main article: Capital punishment in AngolaAbolished in 1992 by Constitution.']]

In [11]:
df = pd.DataFrame(rows, columns=columns)
df.head()

,Key,Country,Year of last execution,Executions 2019,Year abolished,Notes
0,,Algeria,1993,,n/a,Main article: Capital punishment in AlgeriaFir...
1,,Angola,1977[42],,1992,Main article: Capital punishment in AngolaAbol...
2,,Benin,1987,,2012,Main article: Capital punishment in BeninOn 6 ...
3,,Botswana,2021[44],1,n/a,Main article: Capital punishment in BotswanaHa...
4,,Burkina Faso,1988,,N/A (Military)2018 (Civilian)[46],Main article: Capital punishment in Burkina Fa...

In [12]:
df['Notes'] = df['Notes'].str.contains('hunging')
df

,Key,Country,Year of last execution,Executions 2019,Year abolished,Notes
0,,Algeria,1993,,n/a,False
1,,Angola,1977[42],,1992,False
2,,Benin,1987,,2012,False
3,,Botswana,2021[44],1,n/a,False
4,,Burkina Faso,1988,,N/A (Military)2018 (Civilian)[46],False
5,,Burundi,2000[48],,2009[49],False
6,,Cameroon,1997[51],,n/a,False
7,,Cape Verde,"*None since independence in 1975 (1835, before...",,1981,False
8,,Central African Republic,1981,,2022,False
9,,Chad,2015[57],,2020,False
10,,Comoros,1997[62],,n/a,False
11,,"Congo, Republic of the",1982,,2015[64],False
12,,Djibouti,*None since independence in 1977,,1995,False
13,,"Congo, Democratic Republic of the",2003[65],,n/a,False
14,,Egypt,2023[67],29+,n/a,False
15,,Equatorial Guinea,2014[70],,2022,False
16,,Eritrea,1989,,n/a,False
17,,Eswatini,1983[72],,n/a,False
18,,Ethiopia,2007[74],,n/a,False
19,,Gabon,1985[76],,2010[77],False
20,,Gambia,2012[78],,n/a,False
21,,Ghana,1993,,n/a,False
22,,Guinea,2001[84],,2017,False
23,,Guinea-Bissau,1986,,1993,False
24,,Ivory Coast,*None since independence in 1960[80],,2000,False
25,,Kenya,1987,,n/a,False
26,,Lesotho,1995[87],,n/a,False
27,,Liberia,2000[89],,n/a,False
28,,Libya,2010[93],,n/a,False
29,,Madagascar,"*None since independence in 1960 (1958, before...",,2014,False
30,,Malawi,1992[100],,n/a,False
31,,Mali,1980,,n/a,False
32,,Mauritania,1987,,n/a,False
33,,Mauritius,1987,,1995,False
34,,Morocco,1993,,n/a,False
35,,Mozambique,1986,,1990,False
36,,Namibia,"*None since independence in 1990 (1988, before...",,1990,False
37,,Niger,1976,,n/a,False
38,,Nigeria,2016[110],,n/a,False
39,,Rwanda,1998,,2007[114],False
40,,Sahrawi Arab Democratic Republic,,,n/a,False
41,,São Tomé and Príncipe,*None since independence in 1975,,1990,False
42,,Senegal,1967,,2004,False
43,,Seychelles,*None since independence in 1976,,1993,False
44,,Sierra Leone,1998,,2021[115],False
45,,Somalia,2023[117],13,n/a,False
46,,South Africa,1989,,1995,False
47,,South Sudan,2022[120],7+,n/a,False
48,,Sudan,2021[122],,n/a,False
49,,Tanzania,1994,,n/a,False
50,,Togo,1978[126],,2009[127],False
51,,Tunisia,1990,,n/a,False
52,,Uganda,2005[130],,n/a,False
53,,Zambia,1997,,2022,False
54,,Zimbabwe,2005[136],,n/a,False